services:

  nexus_app:
    build: .
    container_name: nexus_app_container

    ports:
      - "8000:8000"
    env_file:
      - .env.docker-compose
    volumes:
      - .:/app
      - static:/app/nexus_crm/staticfiles
      - media:/app/nexus_crm/media
    depends_on:
      postgres:
        condition: service_healthy
    command: sh -c "python manage.py migrate && gunicorn nexus_crm.wsgi:application --bind 0.0.0.0:8000"
    networks:
      - nexus_network

  postgres:
    image: postgres:17
    container_name: postgres_nexus_crm
    env_file:
      - .env.docker-compose
    environment:
      POSTGRES_DB: ${DB__NAME}
      POSTGRES_USER: ${DB__USER}
      POSTGRES_PASSWORD: ${DB__PASSWORD}
    volumes:
      - ./postgres-data:/var/lib/postgresql/data

    ports:
      - "${DB__PORT}:5432"
    restart: "unless-stopped"
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U ${DB__USER} -d ${DB__NAME}" ]
      interval: 5s
      timeout: 5s
      retries: 5
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "5"
        compress: "true"
    networks:
      - nexus_network

  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin_nexus_crm
    env_file:
      - .env.docker-compose
    environment:
      PGADMIN_DEFAULT_EMAIL: ${PGADMIN_DEFAULT_EMAIL}
      PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_DEFAULT_PASSWORD}
    volumes:
      - ./pgadmin-data:/var/lib/pgadmin
    ports:
      - "${PGADMIN_PORT}:80"
    restart: unless-stopped
    depends_on:
      postgres:
        condition: service_healthy
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "5"
        compress: "true"
    networks:
      - nexus_network

  nginx:
    build:
      context: ./nginx # или путь к директории, где лежит ваш Dockerfile для Nginx
      dockerfile: Dockerfile # Имя вашего Dockerfile для Nginx, если не 'Dockerfile'
    container_name: nginx_nexus_app # Имя контейнера, как в вашем выводе
    ports:
      - "80:80"   # Проброс HTTP порта
      - "443:443" # Проброс HTTPS порта
    depends_on:
      nexus_app:
        condition: service_started # Nginx зависит от nexus_app
    volumes:
      - /var/www/certbot:/var/www/certbot:ro
    networks:
      - nexus_network
    restart: unless-stopped

  maildev:
    image: maildev/maildev
    environment:
      - EZ=Europe/Moscow
      - MAILDEV_WEB_PORT=1080
      - MAILDEV_SMTP_PORT=1025
    ports:
      - "8081:1080"
      - "1025:1025"
    logging:
      driver: "json-file"
      options:
        max-size: "1m"
    networks:
      - nexus_network

  certbot:
    image: certbot/certbot
    container_name: certbot_nexus_crm
    volumes:
      - /etc/letsencrypt:/etc/letsencrypt
      - /var/www/certbot:/var/www/certbot
    command: certonly --webroot -w /var/www/certbot -d galaxy-cloud.ru -d www.galaxy-cloud.ru --email qiwima@gmail.com --rsa-key-size 4096 --agree-tos --no-eff-email --force-renewal
    depends_on:
      - nginx

  redis:
    image: redis
    container_name: redis_container
    env_file:
      - .env.docker-compose
    environment:
      - REDIS_PASSWORD=${REDIS_PASSWORD}
      - REDIS_USER=${REDIS_USER}
      - REDIS_USER_PASSWORD=${REDIS_USER_PASSWORD}
    ports:
      - "${REDIS_PORT}:6379"
    volumes:
      - ./redisdata:/data
    healthcheck:
      test: [ "CMD", "redis-cli", "-a", "$REDIS_PASSWORD", "ping" ]
      interval: 30s
      timeout: 10s
      retries: 5
    restart: unless-stopped
    networks:
      - nexus_network

#  celery:
#    build: .
#    container_name: celery_nexus_app
#    command: celery -A nexus_crm worker --pool=solo --loglevel=info
#    env_file:
#      - .env.docker-compose
#    volumes:
#      - .:/app
#      - static:/app/nexus_crm/staticfiles
#      - media:/app/nexus_crm/media
#    depends_on:
#      - nexus_app
#      - redis
#      - postgres
#    networks:
#      - nexus_network

networks:
  nexus_network:
    name: nexus_network

volumes:
  pgadmin-data:
  postgres-data:
  static:
  media: