<!-- Модальное окно для добавления услуги -->
<div class="modal fade" id="addServiceModal" tabindex="-1" aria-labelledby="addServiceModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form method="post" action="{% url 'orders:add_service_ajax' %}" id="add-service-form">
                {% csrf_token %}
                <div class="modal-header">
                    <h5 class="modal-title" id="addServiceModalLabel">Новая услуга</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                </div>
                <div class="modal-body">
                    {% for field in service_form %}
                    <div class="mb-3">
                        {{ field.label_tag }}
                        {{ field }}
                        <div class="text-danger">{{ field.errors }}</div>
                    </div>
                    {% endfor %}
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success">Сохранить</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                </div>
            </form>
        </div>
    </div>
</div>