# Исключаем виртуальные окружения
.venv/
env/
.nexus_link/

# Исключаем другие ненужные файлы
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3

# Исключаем редакторские и системные файлы
*.log
.DS_Store
.idea/
.vscode/
