{% extends "base/base.html" %}
{% load static %}
{% block title %} Создание заявки {% endblock %}

{% block content %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/inputmask/5.0.8/inputmask.min.js"></script>
 <div class="container" >
    <div class="page-wrapper" >
<div class="container mt-4">
    <h2>Новая заявка</h2>
    <form method="post" action="{% url 'orders:new_order' %}" novalidate>
        {% csrf_token %}
        {{ form.non_field_errors }}

        {% for field in form %}
        <div class="mb-3">
            <label>{{ field.label_tag }}</label>
            <div class="d-flex align-items-center gap-2">
                {{ field }}
                {% if field.name == 'client' %}
                <button type="button" class="btn btn-sm btn-outline-primary" data-bs-toggle="modal" data-bs-target="#addClientModal">
                    Добавить клиента
                </button>
                {% endif %}
                {% if field.name == 'service' %}
                <button type="button" class="btn btn-sm btn-outline-primary" data-bs-toggle="modal" data-bs-target="#addServiceModal">
                    Добавить Услугу
                </button>
                {% endif %}
            </div>
            {{ field.errors }}
        </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary">Сохранить</button>
    </form>
</div>

{% include 'includes/client_add_form.html' with item=item active_path=active_path %}
{% include 'includes/service_add_form.html' with item=item active_path=active_path %}
                    </div>
  </div>

<script src="{% static 'crm/js/forms_add.js' %}"></script>


{% endblock %}