{% extends "base/base.html" %}

{% block title %} Создание заявки {% endblock %}

{% block content %}
<div class="container mt-4">
    <h2>Новая заявка</h2>
    <form method="post" action="{% url 'orders:new_order' %}" novalidate>
        {% csrf_token %}
        {{ form.non_field_errors }}
        {% for field in form %}
        <div class="mb-3">
            {{ field.label_tag }}
            {{ field }}
            {{ field.errors }}
        </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary">Сохранить</button>
    </form>
</div>

{% endblock %}